body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header{
  width:100%;/*Takes the whole width of the parent container (in this case the body)*/
  height:50px;
  background-color:#1b1b32;
  display:flex;
}

#logo {
  width: max(10rem, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}
