body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

#logo{
  width: max(10rem,18vw);/*With this line we set to give value of the logo if it was less than 1000px (10rem which is 160px because our html is 16px), and 18vw, which is 18% of the viewport width(if the width is greater than 1000px)*/
}
